<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      product-listing
      <div class="pull-right">

        <ion-icon name="cart"></ion-icon>
        <ion-badge color="danger">{{ cartCnt }}</ion-badge>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="productsData.length; else noDataTempl;">

  <ion-card *ngFor="let prod of productsData; let i as index">
    <ion-card-header>
      <!-- <ion-card-subtitle>{{ prod.product_title | uppercase }}</ion-card-subtitle> -->
      <ion-card-title>{{ prod?.product_title | uppercase }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p [innerHtml]="prod?.attributes[0]['tab_value']">
        
      </p>

      <p>

        <ion-button 
          routerLink="/product-details/{{prod?.product_slug}}"
          href="javascript:void(0);" color="success" shape="round">View</ion-button>
        <ion-button color="warning" shape="round" (click)="addToCart(prod?._id)">Add To Cart</ion-button>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>

<ng-template #noDataTempl>

  <ion-content>
    <ion-card>
    
      <ion-card-content>
        <p>No products to display.</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ng-template>
